:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(to bottom right, #5e59e8, #dbcdcd);
  background-attachment: fixed;
  color: #eff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.circle {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  color: #333;
  border-radius: 50%;
}

/* Game button styles */
button {
  background-color: #466bd1;
  color: #e2e2e2;
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  width: 10rem;
  font-size: 1.5rem;
  cursor: pointer;
}